// Transforms
// ==========
// less mixins for transformations

// In this file
// ------------
// * Regular Transforms
// * Scale
// * Skew
// * Rotate
// * Translate
// * Translate 3d
// * Transform Origin
// * Perspective

// Regular Transforms
// ~~~~~~~~~~~~~~~~~~
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}


// Scale
// ~~~~~
.scale(@ratio:2.0) {
    -webkit-transform:  scale(@ratio);
    -moz-transform:     scale(@ratio);
    transform:          scale(@ratio);
    -o-transform:       scale(@factor);
}


// Skew
// ~~~~
.skew (@deg, @deg2) {
    -webkit-transform:  skew(@deg, @deg2);
    -moz-transform:     skew(@deg, @deg2);
    -ms-transform:      skew(@deg, @deg2);
    -o-transform:       skew(@deg, @deg2);
}

// Rotate
// ~~~~~~

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

// Translate
// ~~~~~~~~~
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}

// Translate 3d
// ~~~~~~~~~~~~
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}

// Perspective
// ~~~~~~~~~~~
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}

// Transform Origin
// ~~~~~~~~~~~~~~~~
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}
